{% extends 'base.html' %}


{% load widget_tweaks %}


{% block content %}
<div class="container mt-5">
    <div class="card shadow p-4">
        <h2 class="mb-4">Editar Post</h2>
        <form method="post">
            {% csrf_token %}
            <div class="mb-3">
                {{ form.titulo.label_tag }}
                {{ form.titulo|add_class:"form-control" }}
            </div>
            <div class="mb-3">
                {{ form.conteudo.label_tag }}
                {{ form.conteudo|add_class:"form-control" }}
            </div>
            <div class="mb-3">
                {{ form.status.label_tag }}
                {{ form.status|add_class:"form-select" }}
            </div>
            <button type="submit" class="btn btn-primary">Salvar Alterações</button>
            <a href="{% url 'lista_posts' %}" class="btn btn-secondary">Voltar</a>
        </form>
    </div>
</div>
{% endblock %}