{% extends "base.html" %}


{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-lg">
                <div class="card-header bg-primary text-white text-center">
                    <h3>Editar Perfil & Alterar Senha</h3>
                </div>
                <div class="card-body">
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert {{ message.tags }}">{{ message }}</div>
                        {% endfor %}
                    {% endif %}


                    <form method="post">
                        {% csrf_token %}


                        <h5 class="mb-3">Informações do Usuário</h5>
                        {% for field in user_form %}
                        <div class="mb-3">
                            <label class="form-label">{{ field.label }}</label>
                            {{ field }}
                            {% if field.errors %}
                                <div class="text-danger">{{ field.errors }}</div>
                            {% endif %}
                        </div>
                        {% endfor %}


                        <hr>


                        <h5 class="mb-3">Alteração de Senha</h5>
                        {% for field in password_form %}
                        <div class="mb-3">
                            <label class="form-label">{{ field.label }}</label>
                            {{ field }}
                            {% if field.errors %}
                                <div class="text-danger">{{ field.errors }}</div>
                            {% endif %}
                        </div>
                        {% endfor %}


                        <button type="submit" class="btn btn-success w-100 mt-3">
                            <i class="fas fa-save"></i> Guardar Alterações
                        </button>
                    </form>
                </div>
                <div class="card-footer text-center">
                    <a href="{% url 'perfil' %}" class="btn btn-secondary">
                        <i class="fas fa-arrow-left"></i> Voltar ao Perfil
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}