{% extends "base.html" %}


{% block title %}Detalhe do Estudante{% endblock %}


{% block content %}
    <div class="container mt-4">
        <div class="card shadow">
            <div class="card-body">
                <h2 class="card-title">{{ estudante.nome }} {{ estudante.sobrenome }}</h2>
                <p class="card-text"><strong>Email:</strong> {{ estudante.email }}</p>
                <a href="{% url 'lista_estudantes' %}" class="btn btn-primary">Voltar para a Lista</a>
            </div>
        </div>
    </div>
{% endblock %}