{% extends "base.html" %}


{% block title %}Detalhes do Post{% endblock %}


{% block content %}
    <div class="container mt-5">
        <div class="card shadow-lg p-4">
            <h2 class="mb-4">{{ post.titulo }}</h2>


            <p class="lead">{{ post.conteudo }}</p>


            <hr>


            <div>
                <strong>Status:</strong> <span class="badge bg-info">{{ post.get_status_display }}</span>
            </div>
            <div>
                <strong>Autor:</strong> {{ post.autor }}
            </div>
            <div>
                <strong>Publicado em:</strong> {{ post.data_publicacao|date:"d/m/Y H:i" }}
            </div>


            <div class="mt-4">
                <a href="{% url 'lista_posts' %}" class="btn btn-secondary">Voltar para a lista</a>
                <a href="{% url 'editar_post' post.id %}" class="btn btn-warning">Editar</a>
                <a href="{% url 'deletar_post' post.id %}" class="btn btn-danger">Deletar</a>
            </div>
        </div>
    </div>
{% endblock %}