{% extends "base.html" %}


{% block title %}Lista de Posts{% endblock %}


{% block content %}
    <div class="container mt-5">
        <h1 class="mb-4">Lista de Posts CVB</h1>


        {% if posts %}
            <div class="list-group">
                {% for post in posts %}
                    <div class="list-group-item d-flex justify-content-between align-items-center">
                        <div>
                            <a href="{% url 'detalhe_post_cvb' post.id %}" class="text-decoration-none">
                                {{ post.titulo }}
                            </a>
                            <p class="mb-1">
                                <small class="text-muted">Publicado em: {{ post.data_publicacao|date:"d/m/Y H:i" }}</small>
                            </p>
                        </div>
                        <div class="d-flex">
                            <!-- Botão de editar -->
                            <a href="{% url 'atualizar_post_cvb' post.id %}" class="btn btn-warning btn-sm ms-2">Editar</a>
                            <!-- Botão de deletar -->
                            <a href="{% url 'deletar_post_cvb' post.id %}" class="btn btn-danger btn-sm ms-2">Deletar</a>
                        </div>
                    </div>
                {% endfor %}
                <a href="{% url 'criar_post_cvb' %}" class="btn btn-success mb-3">Criar Novo Post CVB</a>
            </div>
        {% else %}
            <p class="alert alert-warning">Nenhum post encontrado.</p>
        {% endif %}
    </div>
{% endblock %}